apiVersion: batch/v1
kind: Job
metadata:
  name: init-db
spec:
  template:
    spec:
      containers:
      - name: init-db
        image: postgres:15
        env:
          - name: POSTGRES_DB
            valueFrom:
              configMapKeyRef:
                name: db-config
                key: POSTGRES_DB
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_USER
          - name: PGPASSWORD
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: POSTGRES_PASSWORD
        command:
          - "sh"
          - "-c"
          - "psql -h db-service -U $POSTGRES_USER -d $POSTGRES_DB -f /scripts/init.sql"
        volumeMounts:
          - name: db-init-scripts
            mountPath: /scripts
      restartPolicy: OnFailure
      volumes:
        - name: db-init-scripts
          configMap:
            name: db-init-sql

