apiVersion: apps/v1
kind: Deployment
metadata:
  name: lab5-web
  labels:
    app: lab5-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lab5-web
  template:
    metadata:
      labels:
        app: lab5-web
    spec:
      containers:
        - name: lab5-web
          image: nour292/lab5-web:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: "postgres-service"
            - name: DB_NAME
              value: "lab5db"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 10
